body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #191919;
}
body {
	background-color: #FFF;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
img {
	height: 110px;
	width: 110px;
}
